#product-portfolio {
  position: relative;
  padding-top: clamp(3rem, 10vw + 1rem, 10rem);
  overflow: hidden;
}

.deco-element-sphere-two {
  position: absolute;
  top: 0;
  left: 61%;
  background: url(/assets/deco_element_sphere_two.webp) no-repeat;
  background-size: contain;
  height: clamp(7.125rem, 10.703vw + 1.867rem, 11.5rem);
  width: clamp(7.125rem, 12.538vw + 0.966rem, 12.25rem);
}

.deco-element-sphere-four {
  position: absolute;
  right: 0;
  top: 0;
  background: url(/assets/deco_element_sphere_four.webp) no-repeat;
  background-size: contain;
  background-position: top right;
  height: clamp(10rem, 25.54vw + 4.014rem, 27rem);
  width: clamp(12.5rem, 8.92vw + 10.409rem, 18.438rem);
}

.deco-element-sphere-three {
  position: absolute;
  bottom: 0;
  background: url(/assets/deco_element_sphere_three.webp) no-repeat;
  background-size: contain;
  height: clamp(10.75rem, 9.39vw + 8.549rem, 17rem);
  width: clamp(11.75rem, 9.39vw + 9.549rem, 18rem);
}

.swiper-carousel {
  padding-top: 5em !important;
  max-width: 140em;
}

.slide-content {
  position: relative;
  max-width: clamp(14.5rem, 20.282vw + 9.746rem, 28rem);
  height: clamp(14.5rem, 20.282vw + 9.746rem, 28rem) !important;
  border-radius: 1.5em;
  overflow: hidden;
}

.slide-content img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
  object-fit: cover;
}

.slide-content .border,
.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.slide-title {
  color: hsla(0, 0%, 100%, 1);
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 1.5em;
  left: 2em;
}

.black-text {
  color: hsla(0, 0%, 0%, 1);
}

.align-text {
  top: 45%;
  left: 45%;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  margin-bottom: 6.25em;
  position: relative;
  width: 100%;
}

.swiper-pagination-dots {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 0.75em;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: clamp(0.75rem, 0.536vw + 0.643rem, 1.125rem) !important;
  height: clamp(0.75rem, 0.536vw + 0.643rem, 1.125rem) !important;
  background: rgb(217, 217, 217);
  opacity: 1;
  filter: drop-shadow(0px 4px 12px rgba(58, 56, 55, 0.15));
  transition: all 0.4s ease;
}

.swiper-pagination-bullet-active {
  width: 5.25em !important;
  border-radius: 1.75em !important;
  background: hsla(223, 27%, 17%, 1) !important;
  box-shadow: 0px 4px 12px 0px rgba(58, 56, 55, 0.25);
}

.btn-product-carousel {
  display: flex;
  position: absolute;
  right: 11%;
}

.swiper-btn-prev svg,
.swiper-btn-next svg {
  display: block;
}

.swiper-btn-prev,
.swiper-btn-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  width: 3em;
  height: 3em;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 0.8em;
}

#icons-section {
  background-color: hsla(103, 6%, 75%, 0.3);
  padding-block: 4.6875em;
}
