.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(1.25rem, 1.502vw + 0.898rem, 2.25rem);
  font-weight: 500;
  line-height: 140%;
  color: hsl(105, 6%, 13%);
  margin-bottom: 1rem;
}

.subtitle {
  text-transform: uppercase;
  color: #525850;
  font-size: clamp(0.75rem, 0.376vw + 0.662rem, 1rem);
  font-weight: 500;
  letter-spacing: 3.2px;
  text-align: center;
}

.accessible_elem {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
}

#skip a:focus {
  left: 0;
  top: 0;
  padding: 3px;
  background: #ffc;
  border: 1px solid #990000;
}

